form{
    display: flex;
    flex-direction:column;
    align-items: center;

}

label{
    margin: 10px 0;
    
}
input, textarea{
    margin: 5px 0;
    padding: 10px;
    width:500px;

}
button{
    padding: 8px;
    background-color: #e6bc01;
    color: black;
    border: white;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}

    